.App {
  text-align: center;
  padding-top: 30px;
}
.App-logo {
  max-width: 30%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.image {
  padding: 20px;
  max-width: 100%;
}

.exp {
  margin: auto 20%;
  line-height: 1.7rem;
}

